.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #a3e655 !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #a3e655 !important;
  border-color: #a3e655 !important;
  color: #203408 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #79c71d !important;
  border-color: #79c71d !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #203408 !important;
  background-color: #79c71d !important;
  border-color: #79c71d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #6592e6;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: #2260d2 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #a3e655;
  color: #a3e655;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #79c71d !important;
  background-color: transparent!important;
  border-color: #79c71d !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #203408 !important;
  background-color: #a3e655 !important;
  border-color: #a3e655 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #a3e655 !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #71ba1b !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-toOtRHj66S {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/banner-home-1920x720.png");
}
@media (max-width: 991px) {
  .cid-toOtRHj66S .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-toOtRHj66S .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-toOtRHj66S .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-toOtRHj66S .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-toOtRHj66S .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-toOtRHj66S .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-toOtRHj66S .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-toOtRHj66S .card-title {
  color: #ffffff;
}
.cid-toOtRHj66S .mbr-text,
.cid-toOtRHj66S .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-tq34yHxJCi {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-tq34yHxJCi img {
  width: auto;
}
.cid-tq34yHxJCi .call-to-action-box .action-style-box {
  background: linear-gradient(45deg, #e2336e 0%, #7537e7 44%, #7537e7 56%, #e2336e 100%);
  background-size: 150% 150%;
  color: white;
  padding: 15px;
}
.cid-tqpPknrnS5 {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tqpPknrnS5 .item {
  padding-bottom: 2rem;
}
.cid-tqpPknrnS5 .item-wrapper {
  position: relative;
}
.cid-tqpPknrnS5 .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-tqpPknrnS5 .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-tqpPknrnS5 .carousel-control,
.cid-tqpPknrnS5 .close {
  background: #1b1b1b;
}
.cid-tqpPknrnS5 .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tqpPknrnS5 .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tqpPknrnS5 .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tqpPknrnS5 .carousel-control-next span {
  margin-left: 5px;
}
.cid-tqpPknrnS5 .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tqpPknrnS5 .close::before {
  content: '\e91a';
}
.cid-tqpPknrnS5 .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tqpPknrnS5 .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tqpPknrnS5 .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tqpPknrnS5 .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tqpPknrnS5 .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tqpPknrnS5 .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tqpPknrnS5 .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tqpPknrnS5 .carousel-indicators li.active,
.cid-tqpPknrnS5 .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tqpPknrnS5 .carousel-indicators li::after,
.cid-tqpPknrnS5 .carousel-indicators li::before {
  content: none;
}
.cid-tqpPknrnS5 .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tqpPknrnS5 .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tqpPknrnS5 .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tqpPknrnS5 .carousel-indicators {
    display: none;
  }
}
.cid-tqpPknrnS5 .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tqpPknrnS5 .carousel-inner > .active {
  display: block;
}
.cid-tqpPknrnS5 .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tqpPknrnS5 .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tqpPknrnS5 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tqpPknrnS5 .carousel-control,
  .cid-tqpPknrnS5 .carousel-indicators,
  .cid-tqpPknrnS5 .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tqpPknrnS5 .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tqpPknrnS5 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tqpPknrnS5 .carousel-indicators .active,
.cid-tqpPknrnS5 .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tqpPknrnS5 .carousel-indicators .active {
  background: #fff;
}
.cid-tqpPknrnS5 .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tqpPknrnS5 .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tqpPknrnS5 .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tqpPknrnS5 .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tqpPknrnS5 .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tqpPknrnS5 .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tqpPknrnS5 .carousel {
  width: 100%;
}
.cid-tqpPknrnS5 .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tqpPknrnS5 .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tqpPknrnS5 .modal.fade .modal-dialog,
.cid-tqpPknrnS5 .modal.in .modal-dialog {
  transform: none;
}
.cid-tqpPknrnS5 .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tqpPknrnS5 H6 {
  text-align: center;
}
.cid-tq2KPR9oUg {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url("../../../assets/images/istock-1343885102-2000x1333.jpg");
}
@media (max-width: 767px) {
  .cid-tq2KPR9oUg .row {
    flex-direction: column-reverse;
  }
  .cid-tq2KPR9oUg .mbr-figure {
    margin-bottom: 1.5rem;
  }
}
.cid-tq2KPR9oUg .row {
  align-items: center;
}
@media (min-width: 992px) {
  .cid-tq2KPR9oUg .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tq2KPR9oUg .media-content,
.cid-tq2KPR9oUg .mbr-figure {
  align-self: center;
}
.cid-tq2KPR9oUg .mbr-figure iframe {
  width: 100%;
}
.cid-tq2KPR9oUg .mbr-section-title {
  color: #ffffff;
}
.cid-tqoJ3U4KXa {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #efefef;
}
.cid-tqoJ3U4KXa img {
  height: auto;
  max-width: 100%;
}
.cid-tqoJ3U4KXa .wrapper {
  margin: 10vh;
}
.cid-tqoJ3U4KXa .card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .cid-tqoJ3U4KXa .card {
    min-height: 350px;
  }
}
@media (max-width: 420px) {
  .cid-tqoJ3U4KXa .card {
    min-height: 300px;
  }
}
.cid-tqoJ3U4KXa .card.card-has-bg {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center center;
}
.cid-tqoJ3U4KXa .card.card-has-bg:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.cid-tqoJ3U4KXa .card.card-has-bg:hover {
  transform: scale(0.98);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
  background-size: 130%;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.cid-tqoJ3U4KXa .card.card-has-bg:hover .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, #044572 100%);
}
.cid-tqoJ3U4KXa .card .card-footer {
  background: none;
  border-top: none;
}
.cid-tqoJ3U4KXa .card .card-footer .media img {
  border: solid 3px rgba(255, 255, 255, 0.3);
}
.cid-tqoJ3U4KXa .card .card-meta {
  color: #26BD75;
}
.cid-tqoJ3U4KXa .card .card-body {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.cid-tqoJ3U4KXa .card:hover {
  cursor: pointer;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.cid-tqoJ3U4KXa .card:hover .card-body {
  margin-top: 30px;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.cid-tqoJ3U4KXa .card .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: linear-gradient(0deg, rgba(35, 79, 109, 0.37858894) 0%, #455f71 100%);
}
@media screen and (max-width: 600px) {
  .cid-tqoJ3U4KXa .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.cid-tqoJ3U4KXa H6 {
  text-align: left;
}
.cid-tqoJ3U4KXa button {
  margin: 20px;
}
.cid-tqoJ3U4KXa .custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5), -4px -4px 6px rgba(116, 125, 136, 0.2);
  outline: none;
}
.cid-tqoJ3U4KXa .btn-5 {
  border: none;
  color: #331d63;
  background-color: white;
}
.cid-tqoJ3U4KXa .btn-5:hover {
  color: #331d63;
  background: solid;
  box-shadow: none;
}
.cid-tqoJ3U4KXa .btn-5:before,
.cid-tqoJ3U4KXa .btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #331d63;
  box-shadow: -1px -1px 5px 0px #ffffff, 7px 7px 20px 0px #000000 3, 4px 4px 5px 0px #000000 2;
  transition: all 0.3s ease;
}
.cid-tqoJ3U4KXa .btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.cid-tqoJ3U4KXa .btn-5:hover:before,
.cid-tqoJ3U4KXa .btn-5:hover:after {
  width: 100%;
  transition: all 0.3s ease;
}
.cid-tqlaTDYQz9 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tqlaTDYQz9 img,
.cid-tqlaTDYQz9 .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tqlaTDYQz9 .item:focus,
.cid-tqlaTDYQz9 span:focus {
  outline: none;
}
.cid-tqlaTDYQz9 .item-wrapper {
  position: relative;
}
.cid-tqlaTDYQz9 .slide-content {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tqlaTDYQz9 .slide-content .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tqlaTDYQz9 .slide-content .item-content {
    padding: 1rem;
  }
}
.cid-tqlaTDYQz9 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tqlaTDYQz9 .mbr-section-title {
  color: #331d63;
}
.cid-tqlaTDYQz9 .mbr-text,
.cid-tqlaTDYQz9 .mbr-section-btn {
  text-align: left;
}
.cid-tqlaTDYQz9 .item-title {
  text-align: left;
}
.cid-tqlaTDYQz9 .item-subtitle {
  text-align: left;
}
.cid-tqlaTDYQz9 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tqlaTDYQz9 .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tqlaTDYQz9 .embla__button--next,
.cid-tqlaTDYQz9 .embla__button--prev {
  display: flex;
}
.cid-tqlaTDYQz9 .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tqlaTDYQz9 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tqlaTDYQz9 .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tqlaTDYQz9 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tqlaTDYQz9 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tqlaTDYQz9 .embla__button {
    top: auto;
  }
}
.cid-tqlaTDYQz9 .embla {
  position: relative;
  width: 100%;
}
.cid-tqlaTDYQz9 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tqlaTDYQz9 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tqlaTDYQz9 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tqlaTDYQz9 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tqlfpBkrvg {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tqlfpBkrvg .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tqlfpBkrvg img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tqlfpBkrvg .text-wrapper {
    padding: 2rem;
  }
}
.cid-tqlfpBkrvg .mbr-section-title {
  color: #331d63;
}
.cid-tqlfpBkrvg .mbr-text {
  color: #331d63;
}
.cid-tqlfpBkrvg .my-btn {
  background: #351c75;
  border-radius: 1000px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 26px "Open Sans", sans-serif;
  text-align: center;
  border: 1px solid #351c75;
}
.cid-tqlfpBkrvg button {
  margin: 20px;
}
.cid-tqlfpBkrvg .custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5), -4px -4px 6px rgba(116, 125, 136, 0.2);
  outline: none;
}
.cid-tqlfpBkrvg .btn-5 {
  border: 1px solid #331d63;
  color: #331d63;
  background-color: white;
}
.cid-tqlfpBkrvg .btn-1 {
  background-color: #331d63;
  border-radius: 28px;
  border: 1px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  text-decoration: none;
  text-shadow: 0px 1px 0px #331d63;
}
.cid-s48OLK6784 {
  z-index: 1000;
  width: 100%;
}
.cid-s48OLK6784 nav.navbar {
  position: fixed;
}
.cid-s48OLK6784 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown-menu {
  padding: 0;
}
.cid-s48OLK6784 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .dropdown-item:hover,
.cid-s48OLK6784 .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-s48OLK6784 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s48OLK6784 .nav-link {
  position: relative;
}
.cid-s48OLK6784 .container {
  display: flex;
  margin: auto;
}
.cid-s48OLK6784 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s48OLK6784 .navbar-caption {
  padding-right: 4rem;
}
.cid-s48OLK6784 .dropdown-menu,
.cid-s48OLK6784 .navbar.opened {
  background: #232323 !important;
}
.cid-s48OLK6784 .nav-item:focus,
.cid-s48OLK6784 .nav-link:focus {
  outline: none;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s48OLK6784 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s48OLK6784 .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: rgba(35, 35, 35, 0.2);
}
.cid-s48OLK6784 .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .navbar.opened {
  transition: all .3s;
}
.cid-s48OLK6784 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s48OLK6784 .navbar .navbar-logo img {
  width: auto;
}
.cid-s48OLK6784 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s48OLK6784 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s48OLK6784 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-s48OLK6784 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s48OLK6784 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s48OLK6784 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s48OLK6784 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s48OLK6784 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s48OLK6784 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s48OLK6784 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s48OLK6784 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s48OLK6784 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-s48OLK6784 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s48OLK6784 .navbar.navbar-short {
  min-height: 60px;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s48OLK6784 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s48OLK6784 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s48OLK6784 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s48OLK6784 .dropdown-item.active,
.cid-s48OLK6784 .dropdown-item:active {
  background-color: transparent;
}
.cid-s48OLK6784 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s48OLK6784 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s48OLK6784 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s48OLK6784 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s48OLK6784 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: white;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s48OLK6784 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s48OLK6784 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s48OLK6784 .navbar {
    height: 77px;
  }
  .cid-s48OLK6784 .navbar.opened {
    height: auto;
  }
  .cid-s48OLK6784 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s48OLK6784 .navbar.solid {
  background-color: #490D40;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.cid-s48OLK6784 .navbar.solid .navbar-brand {
  color: #000000;
  transition: color 1s ease 0s;
}
.cid-s48OLK6784 .navbar.solid .navbar-nav > li > a {
  color: #ffffff;
  transition: color 1s ease 0s;
}
.cid-tqobiN97iq {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/home-devaster-page0-image-1929x1364.png");
}
.cid-tqobiN97iq .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tqobiN97iq .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tqobiN97iq .row {
    text-align: center;
  }
  .cid-tqobiN97iq .row > div {
    margin: auto;
  }
  .cid-tqobiN97iq .social-row {
    justify-content: center;
  }
}
.cid-tqobiN97iq .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tqobiN97iq .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-tqobiN97iq .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tqobiN97iq .list {
    margin-bottom: 0rem;
  }
}
.cid-tqobiN97iq .mbr-text {
  color: #bbbbbb;
}
.cid-tqobiN97iq .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tqobiN97iq .mbr-iconfont {
  color: #9b47ac;
  font-size: 1rem ;
}
@media (max-width: 991px) {
  .cid-tqobiN97iq div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tqobiN97iq .copyright {
  color: #ffffff;
}
.cid-rQGoX9Lo2O .hidden {
  display: none;
}
.cid-rQGoX9Lo2O .floating-bar {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #22a5e5;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 2px #999;
  transition: 0.3s;
  z-index: 99999;
}
.cid-rQGoX9Lo2O .floating-bar:hover {
  background-color: #8caff0;
}
.cid-rQGoX9Lo2O .floating-button {
  color: #ffffff;
}
.cid-rQGoX9Lo2O .valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.cid-tqFBeoxG0p {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/it-consulting-devaster-1920x720.png");
}
@media (max-width: 991px) {
  .cid-tqFBeoxG0p .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-tqFBeoxG0p .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tqFBeoxG0p .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tqFBeoxG0p .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tqFBeoxG0p .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-tqFBeoxG0p .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-tqFBeoxG0p .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tqFBeoxG0p .card-title {
  color: #ffffff;
}
.cid-tqFBeoxG0p .mbr-text,
.cid-tqFBeoxG0p .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-tqFWpotao3 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-tqFWpotao3 img {
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.cid-tqFWpotao3 .main {
  max-width: 1200px;
  margin: 0 auto;
}
.cid-tqFWpotao3 h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.cid-tqFWpotao3 .cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cid-tqFWpotao3 .cards_item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cid-tqFWpotao3 .cards_item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cid-tqFWpotao3 .cards_item {
    width: 25%;
  }
}
.cid-tqFWpotao3 .card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.cid-tqFWpotao3 .card_content {
  padding: 1rem;
}
.cid-tqFWpotao3 .card_title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}
.cid-tqFWpotao3 .card_text {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.cid-tqFWpotao3 H2 {
  color: #ffffff;
  text-align: center;
}
.cid-tqFWpotao3 P {
  text-align: center;
}
.cid-tqFBeA6o5N {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tqFBeA6o5N img,
.cid-tqFBeA6o5N .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tqFBeA6o5N .item:focus,
.cid-tqFBeA6o5N span:focus {
  outline: none;
}
.cid-tqFBeA6o5N .item-wrapper {
  position: relative;
}
.cid-tqFBeA6o5N .slide-content {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tqFBeA6o5N .slide-content .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tqFBeA6o5N .slide-content .item-content {
    padding: 1rem;
  }
}
.cid-tqFBeA6o5N .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tqFBeA6o5N .mbr-section-title {
  color: #331d63;
}
.cid-tqFBeA6o5N .mbr-text,
.cid-tqFBeA6o5N .mbr-section-btn {
  text-align: left;
}
.cid-tqFBeA6o5N .item-title {
  text-align: left;
}
.cid-tqFBeA6o5N .item-subtitle {
  text-align: left;
}
.cid-tqFBeA6o5N .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tqFBeA6o5N .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tqFBeA6o5N .embla__button--next,
.cid-tqFBeA6o5N .embla__button--prev {
  display: flex;
}
.cid-tqFBeA6o5N .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tqFBeA6o5N .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tqFBeA6o5N .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tqFBeA6o5N .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tqFBeA6o5N .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tqFBeA6o5N .embla__button {
    top: auto;
  }
}
.cid-tqFBeA6o5N .embla {
  position: relative;
  width: 100%;
}
.cid-tqFBeA6o5N .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tqFBeA6o5N .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tqFBeA6o5N .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tqFBeA6o5N .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tqFBeF26di {
  z-index: 1000;
  width: 100%;
}
.cid-tqFBeF26di nav.navbar {
  position: fixed;
}
.cid-tqFBeF26di .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tqFBeF26di .dropdown-menu {
  padding: 0;
}
.cid-tqFBeF26di .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tqFBeF26di .dropdown-item:hover,
.cid-tqFBeF26di .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-tqFBeF26di .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-tqFBeF26di .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tqFBeF26di .nav-link {
  position: relative;
}
.cid-tqFBeF26di .container {
  display: flex;
  margin: auto;
}
.cid-tqFBeF26di .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-tqFBeF26di .navbar-caption {
  padding-right: 4rem;
}
.cid-tqFBeF26di .dropdown-menu,
.cid-tqFBeF26di .navbar.opened {
  background: #232323 !important;
}
.cid-tqFBeF26di .nav-item:focus,
.cid-tqFBeF26di .nav-link:focus {
  outline: none;
}
.cid-tqFBeF26di .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tqFBeF26di .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tqFBeF26di .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-tqFBeF26di .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tqFBeF26di .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tqFBeF26di .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tqFBeF26di .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: rgba(35, 35, 35, 0.2);
}
.cid-tqFBeF26di .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tqFBeF26di .navbar.opened {
  transition: all .3s;
}
.cid-tqFBeF26di .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-tqFBeF26di .navbar .navbar-logo img {
  width: auto;
}
.cid-tqFBeF26di .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tqFBeF26di .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tqFBeF26di .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tqFBeF26di .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-tqFBeF26di .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tqFBeF26di .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tqFBeF26di .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-tqFBeF26di .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tqFBeF26di .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-tqFBeF26di .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-tqFBeF26di .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tqFBeF26di .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tqFBeF26di .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tqFBeF26di .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tqFBeF26di .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-tqFBeF26di .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-tqFBeF26di .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tqFBeF26di .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tqFBeF26di .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tqFBeF26di .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tqFBeF26di .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-tqFBeF26di .navbar.navbar-short {
  min-height: 60px;
}
.cid-tqFBeF26di .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-tqFBeF26di .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-tqFBeF26di .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tqFBeF26di .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tqFBeF26di .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tqFBeF26di .dropdown-item.active,
.cid-tqFBeF26di .dropdown-item:active {
  background-color: transparent;
}
.cid-tqFBeF26di .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tqFBeF26di .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tqFBeF26di .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tqFBeF26di .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-tqFBeF26di .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tqFBeF26di .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tqFBeF26di ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tqFBeF26di .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tqFBeF26di button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-tqFBeF26di button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: white;
}
.cid-tqFBeF26di button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-tqFBeF26di button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-tqFBeF26di button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-tqFBeF26di button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-tqFBeF26di nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-tqFBeF26di nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-tqFBeF26di nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-tqFBeF26di nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-tqFBeF26di .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-tqFBeF26di a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tqFBeF26di .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tqFBeF26di .navbar {
    height: 77px;
  }
  .cid-tqFBeF26di .navbar.opened {
    height: auto;
  }
  .cid-tqFBeF26di .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tqFBeF26di .navbar.solid {
  background-color: #490D40;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.cid-tqFBeF26di .navbar.solid .navbar-brand {
  color: #000000;
  transition: color 1s ease 0s;
}
.cid-tqFBeF26di .navbar.solid .navbar-nav > li > a {
  color: #ffffff;
  transition: color 1s ease 0s;
}
.cid-tqFBeK3GIt .hidden {
  display: none;
}
.cid-tqFBeK3GIt .floating-bar {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #22a5e5;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 2px #999;
  transition: 0.3s;
  z-index: 99999;
}
.cid-tqFBeK3GIt .floating-bar:hover {
  background-color: #8caff0;
}
.cid-tqFBeK3GIt .floating-button {
  color: #ffffff;
}
.cid-tqFBeK3GIt .valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
